<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdnjs.cloudflare.com https://code.query.com https://fonts.googleapis.com">
        <title>곰곰해 :: BearChain</title>
        <link rel="shortcut icon" href="/public/fav.ico" type="image/x-icon">
        <link rel="icon" href="/public/fav.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>
        <script>
            const data = {
                roomId: parseInt('<%= roomId %>'),
                userId: '<%= userId %>'
            };
        </script>
        <script type="text/javascript" src="/public/game.js" defer></script>
        <script type="text/javascript" src="/public/module.js" defer></script>
    </head>

    <body style="color: black">
        <div class="screen">
            <div class="menulist">
                <input
                    class="gamebutton"
                    id="logoutBtn"
                    type="button"
                    value="게임에서 나가기"
                    onclick="logout();"
                />
            </div>
            <div class="view_wrap" style="height: 167px">
                <div class="gameview">
                    <div id="chain">
                        <!--WORD CHAIN-->
                    </div>
                </div>
            </div>

            <div class="view_wrap">
                <div class="mychat">
                    <div class="answerDiv">
                        <div class="text_info">
                            <p id="ans_msg">첫 단어를 입력하세요!</p>
                            <div id="timeBar"></div>
                        </div>
                        <form id="ansForm" action="">
                            <input
                                id="m"
                                type="text"
                                name="myanswer"
                                maxlength="3"
                                autocomplete="off"
                            />
                        </form>

                        <!--단어오류 메시지-->
                        <span class="text_answer_info"></span>

                        <div class="text_info" style="margin-top: 10px; font-size: 16px">
                            [채널 <%= roomId %>] 게임중인 유저
                        </div>
                        <div id="userList">
                            <!--유저 캐릭터-->
                        </div>
                    </div>

                    <div class="userchat">
                        <div class="userchat_box">
                            <ul id="chatlog">
                                <li>
                                    <b>채팅 기록은 서버에 저장됩니다. 바른 말을 사용하여 주세요!</b>
                                </li>
                            </ul>
                        </div>
                        <form id="chatForm" action="" style="margin-top: -3px; float: left">
                            <input
                                id="c"
                                type="text"
                                name="mychatting"
                                maxlength="40"
                                autocomplete="off"
                                placeholder="채팅 내용을 입력하세요."
                            />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
