<!doctype html>
<html>

<head>
    <title>곰곰해 :: BearChain</title>
    <script src="/public/module.js" type="text/javascript"></script>
    <script src="/public/chat.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
        var data = {};
        //USER's DATA
        data.roomId = '<%= roomId %>';
        data.userId = '<%= userId %>';

        var onUserList = [];
        var prev_onUserList = [];
        var curUser, turnCnt, userCnt;

        var socketId = "";
        var userColor = ['#ECB257', '#CFE674', '#96E674', '#72E68B', '#74CFE6'];

        $(function() {
            var timeover = 5000;

            $('#m').focus();

            //socket io
            var socket = io();

            socket.emit('join', data);

            //단어 입력시
            $('#ansForm').submit(function() {
                if ($('#m').val() != "") {
                    var ansData = $('#m').val();
                    socket.emit('answer', ansData, data.userId);
                    $('#m').val('');
                }
                return false;
            });

            //채팅 입력시
            $('#chatForm').submit(function() {
                if ($('#c').val() != "") {
                    var chatData = $('#c').val();
                    socket.emit('chat', chatData, data.userId);
                    $('#c').val('');
                }
                return false;
            });

            //새로운 사용자 입장 시
            socket.on('newUser', function(newuser) {
                $('#chatlog').append('<li style="color:slateblue"><b>[' + newuser + ']님이 입장하셨습니다!</b>');
                $('.userchat_box').scrollTop($(".userchat_box")[0].scrollHeight);
            });

            socket.on('logout', function(outuser) {
                $('#chatlog').append('<li style="color:crimson"><b>[' + outuser + ']님이 퇴장하셨습니다.</b>');
                $('.userchat_box').scrollTop($(".userchat_box")[0].scrollHeight);
            });

            socket.on('answer', function(nickname, answer, userCnt, can) {
                $('#m').attr("placeholder", can);

                //5개 이상이면 첫 자식노드 1개 삭제
                if ($('#chain').children().length > 4) {
                    $("#chain").children().first().remove();
                }

                //정답 입력 배경 색 사용자에 맞게 변경
                if (nickname == data.userId) {
                    $('#m').css('background', userColor[userCnt]);
                }

                //워드체인에 메시지(3글자) 삽입
                $('#chain').append('<div style="background:' + userColor[userCnt] + ';" class="userchain"><div class="answer" id="answer_' + nickname + '">' + answer + '</div><div class="usernick">' + nickname + '</div></div>');

                keepGame();

                if (nickname == data.userId) {
                    $('.text_answer_info').css('padding', '0');
                    $('.text_answer_info').html("");
                }
            });

            //유저 변화, 새로운 게임 시작
            function newGame(userlist) {
                socket.emit("newgame");
                var first_user = userlist[0];
                turnCnt = 0;
                turn(first_user);
            }

            //턴 넘김 -> turn()
            function keepGame() {
                curUser = onUserList[++turnCnt % userCnt] || data.userId;

                turn(curUser);
            }

            function turn(next_nickname) {

                viewtime = timeover; //reset
                timebarPx = 210;

                if (data.userId == next_nickname) {

                    $('#m').attr("disabled", false);
                    $('#m').focus();
                    $('#ans_msg').html('나의 턴!');
                    $('#ans_msg').css('color', 'crimson');

                } else {

                    $('#m').attr("disabled", true);
                    $('#m').focus();
                    $('#ans_msg').html(next_nickname + '님의 턴!');
                    $('#ans_msg').css('color', 'green');
                }
            }

            // TIMER PART //

            var viewtime = timeover;
            var timebarPx = 210;

            const tick = () => {

                $('#timeBar').html((viewtime / 1000).toFixed(1));
                $('#timeBar').css('width', timebarPx + 'px');

                if (viewtime < 10 && curUser == data.userId) {
                    clearInterval(start);
                    getout(); //타임오버 대상 게임오버
                } else if (viewtime < 10 && curUser != data.userId) {

                    clearInterval(start);

                    if (!curUser) {
                        getout(); //첫 단어 입력 안하면 게임오버처리
                    } else {
                        gameover(curUser); //타 사용자에게 게임오버 출력
                    }

                } else {
                    viewtime -= 100;
                    timebarPx -= (210 / (timeover / 100));
                }
            }

            const start = setInterval(tick, 100);

            // TIMER PART END //
            //게임오버 chatlog 출력
            function gameover(gguser) {
                $('#chatlog').append('<li style="color:crimson"><b>[' + gguser + ']님 게임 오버!</b>');
                $('.userchat_box').scrollTop($(".userchat_box")[0].scrollHeight);
            }

            //게임오버 - 퇴장
            function getout() {
                window.location.href = "/process/gameover";
            }


            socket.on('notice', function(nickname, message) {
                if (nickname == data.userId) {
                    $('.text_answer_info').css('padding', '0.2rem 0.4rem');
                    $('.text_answer_info').html(message);
                }
            });

            socket.on('refreshUser', function(userlist) {
                refreshUserList(userlist);

                prev_onUserList = [];
                prev_onUserList = userlist.slice();
                //dupList(prev_onUserList, userlist);


                if (!listcheck(onUserList, prev_onUserList)) {

                    //dupList(onUserList, prev_onUserList);
                    onUserList = prev_onUserList.slice();

                    userCnt = onUserList.length;
                    alert("userCnt/turnCnt: "+userCnt+"/"+turnCnt);

                    //혼자인 경우 제외 - 1명 남으면 승리
                    if (userCnt == 1 && turnCnt > 1) {
                        $('#m').attr("disabled", true);
                        alert("나의 승리!");
                    }

                    $('#chatlog').append('<li style="color:crimson"><b>유저의 변화로 새로운 게임을 시작합니다.</b>');
                    $('.userchat_box').scrollTop($(".userchat_box")[0].scrollHeight);

                    newGame(onUserList);
                }
            });

            function listcheck(now, prev) {
                for (var i in prev) {
                    if (now[i] != prev[i]) {
                        return false;
                    }
                }
                return true;
            }

            socket.on('chatmsg', function(nickname, msg) {
                //채팅 메시지 삽입
                $('#chatlog').append('<li><b>' + nickname + '</b>: ' + msg);
                $('.userchat_box').scrollTop($(".userchat_box")[0].scrollHeight);
            });

            function refreshUserList(onUser) {
                $('#userList').empty();
                for (var i in onUser) {
                    $('#userList').append('<span class="username">' + onUser[i] + '</span>');
                }
            }

            $("#logoutBtn").click(function(e) {
                e.preventDefault();
                socket.emit('logout'); //로그아웃 정의 필요
            });
        })

    </script>
</head>

<body style="color: black;">
    <div class="screen">
        <div class="menulist">
            <input class="gamebutton" id="logoutBtn" type="button" value="게임에서 나가기" onclick="logout();">
        </div>
        <div class="gameview">
            <div id="chain">
                <!--WORD CHAIN-->
            </div>
        </div>
        <br />
        <div class="mychat">
            <div class="text_info">
                <p id="ans_msg">첫 단어를 입력하세요!</p>
                <div id="timeBar">4.999초</div>
            </div>
            <form id="ansForm" action="">
                <input id="m" type="text" name="myanswer" maxlength="3" autocomplete="off">
            </form>

            <!--단어오류 메시지-->
            <span class="text_answer_info"></span>

            <hr width="70%" style="border-color: sandybrown; margin-top: 30px;">
            <div class="text_info">
                [서버 <%= roomId %>] 접속중인 유저
            </div>
            <div id="userList"></div>
        </div><br>

        <div class="userchat">
            <div class="userchat_box">
                <ul id="chatlog">
                    <li><b>채팅 기록은 서버에 저장됩니다. 바른 말을 사용하여 주세요!</b></li>
                </ul>
            </div>
            <form id="chatForm" action="">
                <input id="c" type="text" name="mychatting" maxlength="40" autocomplete="off" placeholder="채팅 내용을 입력하세요.">
            </form>
        </div>
    </div>

</body>

</html>
