<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>곰곰해 :: BearChain</title>
    <script src="/public/module.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>

<body onload="document.doGame.getAnswer.focus()">
    <div class="screen">
        <div class="gamebox">
            <h2>
                <%= mynick %>님 안녕하세요!
            </h2>
            <hr class="line">
            <input type="button" onclick="location.href = '/process/enter'" value="새로고침">
            <input type="button" onclick="location.href = '/process/gomakegame'" value="방만들기"><input type="button" onclick="location.href = '/process/logout'" value="로그아웃">
            <div class="wrap_table" style="height: 400px; overflow: auto;">
                <table class="listtable" id="listtable_id">
                    <tr>
                        <td class="listtitle" width="350px">방제목</td>
                        <td class="listtitle" width="150px">방장</td>
                        <td class="listtitle" width="70px">비공개</td>
                        <td class="listtitle" width="70px">글자제한</td>
                        <td class="listtitle" width="70px">초제한</td>
                    </tr>
                    <% gameList.forEach(function(item, index){ %>
                    <tr onmouseover="this.style.background = '#FFF2DC'" onmouseout="this.style.background= ''" onclick="location.href='/process/ready/<%=item.id%>';">
                        <td class="listeach"><%= item.title %></td>
                        <td class="listeach"><%= item.master %></td>
                        <td class="listeach">
                        <%if(item.secret == 0){%>
                        
                        <%}else{%>
                        🔒<%}%>
                        </td>
                        <td class="listeach">
                        <%if(item.wordlimit == 0){%>
                        ×
                        <%}else{%>
                        <%= item.wordlimit %>글자<%}%>
                        </td>
                        <td class="listeach"><%= item.timelimit %>초</td>
                    </tr>
                    <% }); %>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
