@import url('https://fonts.googleapis.com/css?family=Jua&display=swap');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


body {
    background: #734114;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: white;
}

.screen {
    width: 100%;
    text-align: center;
}

.mainview {
    display: inline-block;
    padding: 2rem 2rem 2rem 2.5rem;
    margin-top: 200px;
    border: 2px solid white;
    border-radius: 20px;
}

.logo {
    text-align: left;
    font-size: 40px;
    font-weight: 700;
}

.logo_semi {
    margin-top: -15px;
    text-align: left;
    font-size: 40px;
    font-weight: 200;
}

.text_info {
    margin-top: -5px;
    font-size: 18px;
    font-weight: 500;
    color: #BE7F46;
}

form[name="setUser"] {
    margin-top: 10px;
}

input[name="nickname"] {
    background: white;
    height: 40px;
    font-size: 28px;
    padding: 0.7rem;
    border-radius: 10px;
    border-style: none;
}

input[name="login"] {
    cursor: pointer;
    background: inherit;
    height: 40px;
    font-size: 40px;
    font-weight: 500;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    border-style: none;
}

/*GAME.HTML*/
.menulist {
    margin-top: 10px;
}

.gameview {
    background: white;
    display: inline-block;
    width: 770px;
    height: 130px;
    padding: 2rem;
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
}

.userchain {
    background: #EEAE73;
    display: inline-block;
    padding: 1rem;
    border-radius: 10px;
    color: #41260E;
    margin: 10px;
}

.answer {
    width: 100px;
    font-size: 35px;
    font-weight: 700;
}

.usernick {
    border-top: 2px solid white;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
}

#userlist {
    text-align: center;
}

.username {
    margin: 0 15px;
    width: 100px;
    font-size: 18px;
    font-weight: 500;
}

.mychat {
    margin-top: -5px;
    background: white;
    display: inline-block;
    width: 770px;
    padding: 2rem;
    border-top: 5px solid #734114;
    border-radius: 0 0 10px 10px;
}

input[name="myanswer"] {
    background: #EEAE73;
    color: #41260E;
    width: 180px;
    height: 40px;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding: 1.3rem 1rem;
    border-radius: 10px;
    border-style: none;
}

.userchat {
    margin-top: 10px;
    display: inline-block;
    width: 835px;
    border-radius: 0 0 30px 30px;
}

.userchat_box {
    background: #ffe6bf;
    height: 180px;
    text-align: left;
    font-size: 17px;
    font-weight: 400;
    overflow: auto;
    margin-bottom: -5px;
    border-radius: 10px 10px 0 0;
}

input[name="mychatting"] {
    background: #EEAE73;
    color: #41260E;
    width: 771px;
    height: 20px;
    font-size: 17px;
    font-weight: 600;
    padding: 0.8rem 2rem;
    border-radius: 0 0 10px 10px;
    border-style: none;
}

li {
    list-style: none;
}

.gamebutton {
    cursor: pointer;
    background: white;
    font-family: inherit;
    font-size: 17px;
    font-weight: 500;
    padding: 0.3rem 0.7rem;
    border: 0px;
    border-radius: 7px;
}

.text_answer_info {
    background: crimson;
    font-size: 17px;
    font-weight: 500;
    color: white;
}

#ans_msg {
    font-size: 18px;
    color: saddlebrown;
    font-weight: 600;
    margin-top: -10px;
}

#timeBar {
    display: inline-block;
    width: 210px;
    color: crimson;
    border-bottom: 5px solid crimson;
    margin-bottom: 5px;
}

.hide_win {
    display: none;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 280px;
    overflow: hidden;
    margin-top: -240px;
    margin-left: -350px;
    border-radius: 20px;
    border-top: 10px solid dodgerblue;
    border-bottom: 10px solid dodgerblue;
}

.win_text {
    color: dodgerblue;
    font-size: 140px;
    font-weight: 600;

}

.load_list{
    margin-top: 30px;
}

#load_info{
    color: white;
    font-size: 27px;
    font-weight: 600;
}

.r_name{
    font-weight: 500;
}

.room{
    cursor: pointer;
    display: inline-block;
    width: 70px;
    height: 55px;
    line-height: 8px;
    background: #bd8a5c;
    font-size: 18px;
    margin: 0 3px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#load_msg{
    margin-bottom: -30px;
}

.chDiv{
    color: white;
    margin-top: -15px;
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + div{
    display: inline-block;
    border: 2px solid white;
    color: black;
    background: #E47C1F;
}